<div class="information container">
    <div class="small-blob">
        <img class ="info-small-blob" src="assets/img/blob-small.svg" alt="small-blob-background">
    </div>
    <div class="information-container container">
        <div class="information-left">
            <div class="info-text-box">We make it Super Simple</div>
            <hr class="info-hr">    
            <div class="info-image-box">
                <img class="info-image" src="assets/img/collect_img-video.png" alt="info-img">
            </div>
        </div>
        <div class="information-right">
            <div class="eligibility-box">
                <img class="eligibility-image" src="assets/img/Group 6.svg" alt="eligibility-calculator-img">
            </div>
        </div>
    </div>    
</div>