<div class="header">
    <div class="big-blob">
        <img class ="info-big-blob" src="assets/img/circle.svg" alt="small-blob-background">
    </div>
    <div class="accounting-dots-1">
        <img class ="info-dots-1" src="assets/img/accounting_dots.svg" alt="small-blob-background">
    </div>
    <div class="accounting-dots-2">
        <img class ="info-dots-2" src="assets/img/accounting_dots.svg" alt="small-blob-background">
    </div>

    <div class="navigation-container container">
        <div class="header-left">
            <a href="index.html"><img class="logo-image" src="assets/img/logo.png" alt="logo-img"></a>
        </div>
        <div class="header-right">
            <a class="navigation-button" href="#">Products</a>
            <a class="navigation-button" href="#">Solutions</a>
            <a class="navigation-button" href="#">Pricing</a>
            <a class="login-button" href="#">Login</a>
            <a class="get-started-button" href="#">Get Started</a>
        </div>
    </div>    
</div>