<div class="features">
    <div class="big-wave">
        <img class ="features-big-wave" src="assets/img/sol_wave_bg.svg" alt="small-blob-background">
    </div>
    <div class="features-container container">
        <div class="features-left container">
            <div class="row-container container">
                <div class="row-1">
                    <div class="rectangle-1">
                        <img class="features-image" src="assets/img/Get Paid Instantly.png" alt="img">
                        <p class="main-text">Quick cash disbursement</p>
                        <p class="small-text">Get terms loans that your business needs within 72 hrs</p>
                    </div>
                    <div class="rectangle-2">
                        <img class="features-image" src="assets/img/Low interest rate.png" alt="img">
                        <p class="main-text">Low-interest rate</p>
                        <p class="small-text">Achieve your financial goals with an amazing interest rate starting at 13% per annum</p>
                    </div>
                    <div class="rectangle-3">
                        <img class="features-image" src="assets/img/Secure Payments.png" alt="img">
                        <p class="main-text">Zero Paperwork</p>
                        <p class="small-text">Get started instantly by submitting only your basic details & bank statements</p>
                    </div>
                </div>
                <div class="row-2">
                    <div class="rectangle-4">
                        <img class="features-image" src="assets/img/freelancer_feature_icon_6@1.5x.png" alt="img">
                        <p class="main-text">Ace your business finances</p>
                        <p class="small-text">Manage banking, accounting & everything in between, on one platform</p>
                    </div>
                    <div class="rectangle-5">
                        <img class="features-image" src="assets/img/Covid.png" alt="img">
                        <p class="main-text">Loans to fight COVID-19</p>
                        <p class="small-text">Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="features-right-container container">
            <div class="features-text-box">Boost your business with Open</div>
            <hr class="features-hr">
            <div class="features-right-text">Get your hands on a term loan that’s crafted for your business</div>
            <a class="features-button" href="#">Get an Open Account</a>
        </div>
    </div>
</div>